<div class="NavigationMenu">
</div>
    <main>
    <div class="LeftContent">
      <%= form_with model: @exercise, url: exercises_path, local: true do |f| %>
      <% if @exercise.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>
    <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
      <div class="thumbnails">
        <div class="thum_top">
          <iframe id="url_display"></iframe>
        </div>
        <div class="thum_center">
          <div class="thumbnail">
            <iframe id="url_display1"></iframe>
            <%= f.text_field :url1 %>

          </div>
          <div class="thumbnail">
            <iframe id="url_display2"></iframe>
            <%= f.text_field :url2 %>

          </div>
          <div class="thumbnail">
            <iframe id="url_display3"></iframe>
            <%= f.text_field :url3 %>

          </div>
          <div class="thumbnail">
            <iframe id="url_display4"></iframe>
            <%= f.text_field :url4 %>

          </div>
        </div>

      </div>
      <%= f.submit "登録", class: "send" ,id: "submit" %>  
		  <%#input type="button" value="クリア" onclick="fsetcall('','','','','','','','')">%>
      <input id="btn" type="button" value="一括クリア" >
    <%end%>
    </div>

    <div class="RightContent">
      <div class="exercises">
        <a href="https://youtube.com/shorts/ZMvzzi_88JY" class='exe'>側臥位胸椎回旋</a>
        <a href="https://youtube.com/shorts/7K7lKSbL-aM" class='exe'>梨状筋ストレッチ</a>
        <a href="https://youtube.com/shorts/In8-JPlrVIE" class='exe'>もも裏ストレッチ</a>
        <a href="https://youtube.com/shorts/vUXlQhw5eb0" class='exe'>肩甲骨回し</a>

      </div>
    </div>
    </main>

  </form>


