<!DOCTYPE html>
<html>
  <head>
    <title>exerciseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.js"></script>
 
  </head>

  <body>
    <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-send" %>
    <%= yield %>
  </body>
</html>